include README.md
include LICENSE

include bertnlp/data/heart_test_Aug2020.csv
include bertnlp/data/heart_train_SeptNovDec2020.csv

recursive-include bert/data *
recursive-include bert/models *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
