numpy
scipy
sklearn
pandas
seaborn
tabulate
fastDamerauLevenshtein
matplotlib
sentence-transformers
nltk==3.2.5
tensorflow==2.3.1
torch==1.7.0+cpu
sentencepiece==0.1.94
tokenizers==0.8.1.rc2
transformers==3.3.0